
Flask==2.3.2
PyPDF2==3.0.1
numpy==1.25.0
psycopg2-binary==2.9.6
requests==2.31.0
sentence-transformers==2.2.2
transformers==4.34.0
huggingface_hub==0.16.4
gunicorn
nbdt==0.0.4
numpy
torch==1.8.1
torchvision==0.9.1
streamlit==1.39.0
